body {
  font-family: "Inter", sans-serif;
}
p,
h2 {
  margin: 0;
}
.wrapper {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
}
.card {
  background: #fff;
  border: 2px solid #e5e5e5;
  padding: 32px;
  border-radius: 20px;
  width: 320px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.team-score-wrapper {
  gap: 20px;
  display: flex;
  flex-direction: column;
  min-width: 150px;
}
.team-block {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
}
.score-board,
.action {
  display: flex;
  justify-content: space-between;
  max-width: 320px;
  width: 320px;
}
.away {
  flex-direction: row-reverse;
}
.team-block img {
  width: 50px;
  display: block;
}
.score {
  display: flex;
  gap: 2px;
}
.score p {
  min-width: 40px;
  text-align: left;
}

.final-score {
  display: flex;
  flex-direction: column;
  align-items: self-end;
}
.away .final-score {
  align-items: self-start;
}
.final-score h2 {
  font-size: 40px;
  font-weight: 700;
}
.result {
  margin-top: 8px;
}
.result p {
  background: #fff;
  padding: 8px;
  border-radius: 26px;
  text-align: center;
  font-size: 13px;
  letter-spacing: 0px;
}
.score-button {
  display: flex;
  justify-content: start;
  gap: 8px;
}
.away-team .score-button {
  justify-content: end;
}
button {
  font-weight: 600;
  padding: 8px;
  border-radius: 8px;
  background-color: #fff;
  border: 2px solid #e5e5e5;
  border-bottom: 4px solid #e5e5e5;
  flex-grow: 1;
}
button:active {
  border-bottom: 2px solid #e5e5e5;
  transform: translateY(2px);
}
button:hover {
  background-color: #ddf4ff;
  border-color: #1cb0f6;
  cursor: pointer;
}
.input-field {
  padding: 8px;
}
.action a {
  color: #aaa;
  text-decoration: none;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 2px;
}
.action a:hover {
  color: #000;
}
@media screen and (max-width: 430px) {
  .card {
    padding: 20px;
  }
}
